/* contenedor prinsipal */
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* responsive */
/* clase para artefactos de 280px a 450px */
.artifactShort {
  justify-content: center;
  flex-direction: column;
  border-radius: 11px;
  height: fit-content;
  display: flex;
  width: 275px;
}

/* clase para artefactos de 450px a 900px */
.artifactBig {
  border-radius: 30px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
  top: auto;
  border-radius: 10px;
}

.boardShort {
  display: flex;
  display: inline-block;
  width: 100%;
  max-width: 275px;
  height: 275px;
}
.boardVerticalShort {
  height: 150px;
}

.contentBoards {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
}

@media only screen and (min-width: 450px) {
  .artifactShort {
    max-width: 450px;
    width: 450px;
  }

  .boardShort {
    max-width: 450px;
    height: 400px;
  }
}

@media only screen and (max-width: 900px) {
  .artifactBig {
    width: min-content;
  }
}

/* mathlive entradas de texto */
.inputFormula {
  height: 30px;
  width: 252px;
}

.textMarginRl {
  margin: 10px 0 10px 0;
  width: 100%;
  display: inline-block;
}

.mathliveInput {
  height: 30px;
  width: 100%;
  margin: 6px 0 0 0;
}

/* Estructura generica de paginas */

.léxicoContent {
  max-width: 1028px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
  justify-content: center;
}

.classContent {
  max-width: 1028px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
  justify-content: center;
}

.tareaContent {
  max-width: 1028px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
  justify-content: center;
}

/* se sa para los diagramas verticales */
.diagramGrid {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  row-gap: 6px;
  height: max-content;
  background: #fff;
  align-items: center;
  justify-items: center;
  padding: 5px;
}

.diagramRound {
  width: 40%;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.diagramform1 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.diagramform2 {
  margin: 6px;
  border: 1px solid black;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.positionDiagramUp {
  grid-column-start: 1;
  grid-column-end: 4;
}
/* input cuadrado */
.squareDiagram {
  width: 30%;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.positionDiagramDown {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

.diagramArrows {
  display: flex;
  gap: 20px;
  place-content: center;
}
