.verticalDiagram {
  max-width: 420px;
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.containerNormal {
  display: flex;
  flex-direction: column;
}

/* estilos dela tabla */

.table {
  width: 100%;
  height: max-content;
  border-collapse: collapse;
  border: 1.5px solid var(--gray-dark);
  font-size: 13px;
  text-align: center;
  letter-spacing: normal;
  border-radius: 10px;

  @media (min-width: 786px) {
    font-size: 18px;
    font-weight: 500;
  }
}

.table > .th,
.td {
  border: 1px solid var(--azulMedio);
  text-transform: capitalize;
  width: fit-content;
  text-align: center;
  padding: 2px;
  @media (min-width: 786px) {
    height: 30px;
    border: 1.5px solid var(--azulMedio);
  }
}

.table .select {
  background-color: white;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  @media (min-width: 786px) {
    font-size: 18px;
  }
}
.table .select2 {
  background-color: white;
  height: 100%;

  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  @media (min-width: 786px) {
    font-size: 18px;
  }
}

.celdaEncabezado {
  width: 100%;
}
/* math-field::part(virtual-keyboard-numeric) {
  display: none;
} */

math-field::part(menu-toggle) {
  display: none;
}

.mathfield {
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.footer {
  text-align: center;
  font-size: 12px;
  padding: 2px;
  margin: 10px;
  @media (min-width: 786px) {
    font-size: 16px;
  }
}
.footer {
  text-align: center;
  font-size: 12px;
  padding: 2px;
  margin: 10px;
  @media (min-width: 786px) {
    font-size: 16px;
  }
}
.text {
  margin-right: 1rem;
  font-style: italic;
  text-align: right;
  text-transform: uppercase;
  color: var(--gray-dark);
  @media (min-height: 786px) {
    margin-right: 2rem;
  }
}
